<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ehfay Skincare Bliss</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <main class="hero-section">
    <section class="about-us">
      <h2>About Us</h2>
      <p>
        Welcome to Ehfay Skincare Bliss! We are passionate about providing the best skincare products to nourish and pamper your skin. Our mission is to bring bliss and confidence to your skincare routine. Explore our site for quality products and amazing deals!
      </p>
    </section>
    <div class="model-images">
      <img src="/images/model1.jpg" alt="Model 1" class="model-image">
      <img src="/images/model2.jpg" alt="Model 2" class="model-image">
      <img src="/images/model3.webp" alt="Model 3" class="model-image">
    </div>
      <a href="/products" class="btn">Shop Now</a>
   
  </main>

  <%- include('partials/footer') %>

</body>
</html>
